.alert-1 { font-size: 16px; background-color: #b8d8f5; }
.alert-2 { font-size: 18px; background-color: #a3c9eb; }
.alert-3 { font-size: 20px; background-color: #8ebae0; }
.alert-4 { font-size: 22px; background-color: #79abd6; }
.alert-5 { font-size: 24px; background-color: #649ccc; }